{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  // "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-var": "warn",
    "eqeqeq": "warn",
    "react/prop-types": 0,
    "no-extra-semi": "error",
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    // 사용하지 않는 변수가 있을 때 발생하는 경고 비활성화
    "no-unused-vars": "off",
    "no-console": "off",
    "import/prefer-default-export": ["off"],
    "react-hooks/exhaustive-deps": ["warn"],
    "react/jsx-pascal-case": "warn",
    "react/jsx-key": "warn",
    "no-debugger": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/function-component-definition": [
      2,
      { "namedComponents": ["arrow-function", "function-declaration"] }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelAttributes": ["htmlFor"]
      }
    ],
    "react/react-in-jsx-scope": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-nested-ternary": 0,
    // 파일의 경로가 틀렸는지 확인하는 옵션 false
    "import/no-unresolved": ["error", { "caseSensitive": false }],
    // props spreading 허용하지 않는 경고 표시
    "react/jsx-props-no-spreading": [1, { "custom": "ignore" }],
    "linebreak-style": 0,
    "import/extensions": 0,
    "no-use-before-define": 0,
    // 테스트 또는 개발환경을 구성 파일에서는 devDependency 사용 허용
    "import/no-extraneous-dependencies": 0,
    "no-shadow": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0
  },
  "settings": {
    "import/resolver": {
      // "node": {
      //   "paths": ["./src"],
      //   "extensions": [".js", ".jsx", ".ts", ".tsx"]
      // },
      "typescript": {}
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  }
}
