@import '@styles/media/mixin';

// desktop (1920px ~
.new-password-form {
  width: 100%;
  margin-top: 55px;

  display: flex;
  flex-direction: column;
  gap: 23px;

  .new-password-container,
  .new-password-confirm-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    label {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    input[id='password'],
    input[id='confirmPassword'] {
      height: 77px;
      background-color: #ffffff;

      border-width: 1.5px;
      border-style: solid;
      border-color: #e6e9ee;
      border-radius: 10px;

      padding-inline-start: 20px;
      font-size: 25px;

      &::placeholder {
        color: #898c9a;
      }

      &:focus,
      &:active {
        outline: none;
        border-color: #4162ff;
      }
    }

    .password-validation-message {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
      color: #4162ff;
    }
  }

  .error-message {
    height: 22px;
    font-size: 22px;
    color: #ff5a69;
  }

  .new-password-submit-btn {
    margin-top: 143px;

    width: 100%;
    height: 77px;

    background-color: #4162ff;
    color: #ffffff;

    border-radius: 10px;

    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    cursor: pointer;

    &:disabled {
      background-color: #898c9a;
      cursor: initial;
    }
  }
}

// pos (1024 ~ 1919px)
@include pos {
  .new-password-form {
    margin-top: 50px;
    gap: 14.5px;

    .new-password-container,
    .new-password-confirm-container {
      label {
        font-size: 18px;
        line-height: 21.5px;

        margin-bottom: 10px;
      }

      input[id='password'],
      input[id='confirmPassword'] {
        height: 49px;

        font-size: 18px;
        line-height: 21.5px;

        &::placeholder {
          font-size: 18px;
          line-height: 21.5px;
        }
      }

      .password-validation-message {
        margin-top: 9px;
        font-size: 12px;
        line-height: 14.3px;
      }
    }

    .error-message {
      height: 15px;
      font-size: 15px;
    }

    .new-password-submit-btn {
      margin-top: 76px;

      height: 49px;
      border-radius: 7px;

      font-size: 18px;
    }
  }
}

// tablet (768 ~ 1023px)
@include tablet {
  .new-password-form {
    margin-top: 75px;
    gap: 14px;

    .new-password-container,
    .new-password-confirm-container {
      label {
        font-size: 16px;
        line-height: 19px;

        margin-bottom: 7px;
      }

      input[id='password'],
      input[id='confirmPassword'] {
        height: 49px;

        font-size: 16px;
        line-height: 19px;

        &::placeholder {
          font-size: 16px;
          line-height: 19px;
        }
      }

      .password-validation-message {
        margin-top: 9px;
        font-size: 11px;
        line-height: 13px;
      }
    }

    .error-message {
      height: 15px;
      font-size: 15px;
    }

    .new-password-submit-btn {
      margin-top: 79px;

      height: 49px;
      font-size: 18px;
    }
  }
}
